.code {
  font-size: 50px;
  text-align: center;
}

.failure {
  color: #d9534f;
}

.success {
  color: #5cb85c;
}

.form-inline {
  margin-bottom: 10px;
}

.message {
  font-weight: bold;
}

.rules {
  border: 2px solid #ff0000;
  margin-top: 10px;
}

#title {
  text-align: center;
  text-decoration: underline;
}

#results {
  border: 1px dashed #ffcc00;
  width: 200px;
  padding: 5px;
}
